body{
    background-color: #ebeaec;
    font-family: 'Montserrat', sans-serif;
}
.header{
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.row-content{
    width: 103%;
    min-height: 85vh;
}
.brand{
    font-weight: 700px;
    font-size: 1.5em;
}
.cen{
    text-align: center;
}
h1{
    color: floralwhite;
    font-size: 2.5rem;
    font-weight: 700;
}
p{
    color: floralwhite;
    font-weight: 400px;
}
@media (max-width: 576px) { 
    h1{
        font-size: 1.6rem;
    }

 }
.content{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 10vmax;
    margin-right: 10vmax;
    min-height: 250px;
}
@media (max-width: 576px) { 
    .content{
        margin-left: 15px;
        margin-right: 15px;
    }
 }
.main-con{
    background-color: white;
}
.main-con-head{
    color: black;
    margin: 10px;
}
.main-con-para{
    color: gray;
    margin: 10px;
}

.main-btn{
    border-radius: 50px;
    background: white;
    color: #d04c4c;
    border-color: #d04c4c ;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
 
} 
.main-img{
    padding: 0px;
}   
.testimonial{
    width: 100%;
    border: 1px solid white;
    height: auto;
    background-color: white;
}
.test-content{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 10vmax;
    margin-right: 10vmax;
    
}
@media (max-width: 576px) { 
    .test-content{
        margin-left: 15px;
        margin-right: 15px;
    }
 }
footer{
    height: 100px;
    background-color: #d1c4e9;
}
.para-con{
    text-align:center;
    line-height: 1.4em;
    padding: 5px;
    margin: 10px;
    font-weight: 300;
}
.test-con1{
    background-color: #34252F;
    color: floralwhite;
}
.test-con2{
    background-color: #E94F37;
    color: floralwhite;

}
.test-head{
    text-align: center;
    font-weight: 500;
    margin-top: 5px;

}
.copy{
    margin-bottom: 10px;
}
.footer-icon{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
