body{
    background-color: #ebeaec;
    font-family: 'Montserrat', sans-serif;
}
.brand{
    font-weight: 700;
    font-size: 1.5em;
}
.nav-link{
    font-weight: 500;
}
.header{
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.flex-containers{
    width: 280px;
    height: 260px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.flex-img{
    width: 275px;
    height: 255px;
    
}
.sec-container{
    margin-top: 80px;
    margin-bottom: 80px;

}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 280px;
    height: 260px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    box-shadow:1px 1px 5px 0px rgba(50, 50, 50, 0.53);
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    border-top-left-radius: 50px;
  }
.row-content{
    width: 103%;
    min-height: 85vh;
}

.cen{
    text-align: center;
}
h1{
    color: floralwhite;
    font-size: 2.5rem;
    font-weight: 700;
}
p{
    color: floralwhite;
    font-weight: 400;
}
@media (max-width: 576px) { 
    h1{
        font-size: 1.6rem;
    }

 }
/* .content{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 10vmax;
    margin-right: 10vmax;
    min-height: 250px;
} */
/* for tablet */
/* @media (max-width: 991.87px) { 
   .content{
       margin-left: 0;
       margin-right: 0;
   }
 } */
/* @media (max-width: 576px) { 
    .content{
        margin-left: 15px;
        margin-right: 15px;
    }
 } */
.main-con{
    background-color: white;
    box-shadow:1px 1px 5px 0px rgba(50, 50, 50, 0.53);
}
.main-con-head{
    color: black;
    margin-top: 10px;
}
.main-con-para{
    color: gray;
    margin: 10px;
}

.main-btn{
    background: white;
    color: rgb(243, 88, 88);
    border-color: rgb(243, 88, 88) ;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
} 

/* .main-img{
    padding: 0px;
    box-shadow:1px 1px 5px 0px rgba(50, 50, 50, 0.53);
}    */
.testimonial{
    width: 100%;
    border: 1px solid white;
    height: auto;
    background-color: white;
}
.test-content{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 10vmax;
    margin-right: 10vmax;
    
}
/* @media (max-width: 991.87px) { 
    .test-content{
        margin-left: 10px;
        margin-right: 0px;
    }
 } */
/* for mobile screen */
@media (max-width: 576px) { 
    .test-content{
        margin-left: 15px;
        margin-right: 15px;
    }
 }
footer{
    height: 100px;
    background-color: #a2a1a2;
}
.para-con{
    text-align:center;
    line-height: 1.4em;
    /* padding: 5px; */
    margin: 10px;
    font-weight: 300;
    margin-top: 0px;
}
.test-con1{
    background-color: #676161;
    color: floralwhite;
    padding-top: 10px;
    box-shadow:1px 1px 5px 0px rgba(50, 50, 50, 0.53);
    margin-bottom: 15px;
}
.test-con2{
    background-color: rgb(243, 88, 88);
    color: floralwhite;
    padding-top: 10px;
    box-shadow:1px 1px 5px 0px rgba(50, 50, 50, 0.53);
    margin-bottom: 15px;

}
.test-head{
    text-align: center;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;

}
.copy{
    margin-bottom: 25px;
}
.footer-icon{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.about-head{
    color: #676161;
    margin: 20px 5px 10px 5px ;
    border-bottom: 5px solid rgb(243, 88, 88);
}
.about-para{
    color: rgb(82, 78, 78);
    margin-bottom: 0px;
    font-weight: 500;
    margin-left: 10px;
}
.about-foot{
    background-color: rgb(243, 88, 88);
    border-radius: 4px;
    margin-left: 10px;
}
.about-row-con2{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* .main-con{
    border: 2px solid blue;
    margin-left: 50px;
} */
.about-cont{
    padding:0px 150px 0px 150px;
}
@media (max-width: 991.98px) { 
    .about-cont{
        padding: 10px;
        padding-right: 40px;
    }
 }
 .tick-con{
     margin-bottom: 20px;
 }
 .bg{
     background-color: #5b5e61;
 }
 .about-col{
     margin-top: 40px;
 }
 .about-btn {
    background: #eb235c;
    background-image: -webkit-linear-gradient(top, rgb(243, 88, 88), #f1135d);
    background-image: -moz-linear-gradient(top, rgb(243, 88, 88), #f1135d);
    background-image: -ms-linear-gradient(top, rgb(243, 88, 88), #f1135d);
    background-image: -o-linear-gradient(top, rgb(243, 88, 88), #f1135d);
    background-image: linear-gradient(to bottom, rgb(243, 88, 88), #f1135d);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid floralwhite;
  }
  
  .about-btn:hover {
    background: rgb(243, 88, 88);
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, rgb(243, 88, 88), #d9346b);
    background-image: -moz-linear-gradient(top, rgb(243, 88, 88), #d9346b);
    background-image: -ms-linear-gradient(top, rgb(243, 88, 88), #d9346b);
    background-image: -o-linear-gradient(top, rgb(243, 88, 88), #d9346b);
    background-image: linear-gradient(to bottom, rgb(243, 88, 88), #d9346b);
    text-decoration: none;
  }
.icon-a{
    color:rgb(243, 88, 88);
}  
.contact-con{
    background-color: white;
    margin-left: 25px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow:1px 1px 5px 0px rgba(50, 50, 50, 0.53);
}
.contact-row{
    padding: 50px 100px 50px 100px;

}
.contact-head{
    font-weight: 700;
    margin-top: 20px;
    color: rgba(66, 65, 65, 0.87);
    font-size: 0.9em;

}
.contact-para{
    color: rgb(114, 112, 112);
    font-size: 0.8em;
    font-weight: 300;
}
.contact-img{
    min-height: 250px;
    margin-bottom: 20px;
    border-color: #eb235cc0;
    box-shadow:1px 1px 5px 0px rgba(50, 50, 50, 0.53);
}
.contact-btn {
    background: #eb235c;
    background-image: -webkit-linear-gradient(top, rgb(243, 88, 88), #f20051);
    background-image: -moz-linear-gradient(top, rgb(243, 88, 88), #f20051);
    background-image: -ms-linear-gradient(top, rgb(243, 88, 88), #f20051);
    background-image: -o-linear-gradient(top, rgb(243, 88, 88), #f20051);
    background-image: linear-gradient(to bottom, rgb(243, 88, 88), #f20051);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
    margin-bottom: 5px;
    border: 2px solid floralwhite;
  }
  /* for contact us only */
  /* for tablet devices */
  @media (max-width: 991.98px) { 
    .contact-row{
        padding: 50px 30px 50px 30px;
       
    }

   }
  /* for small mobile landscape mode */
 @media (max-width: 767.98px) {
    .contact-row{
        padding: 50px 20px 50px 20px;
       
    }
    .contact-con{
        margin-left: 15px;
    }

 }
  /* for small mobiles */
  @media (max-width: 576.98px) { 
    .contact-row{
        padding: 50px 40px 50px 40px;
       
    }
    .contact-con{
        margin-left: 0px;
    }
 }
 .fa-style {
    margin: 5px;
    cursor: pointer;
  }
  

 